<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jminions.eatubc"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_fastfood"
        android:label="@string/app_name"
        android:theme="@style/MyCustomTheme" >
        <activity
            android:name="com.jminions.eatubc.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.jminions.eatubc.DisplayOrderActivity"
            android:label="@string/title_activity_display_order"
            android:parentActivityName="com.jminions.eatubc.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jminions.eatubc.MainActivity" />
        </activity>
        
     </application>

</manifest>
